.titulo-principal{
	padding: 50px;
}

.principal{
	padding: 30px;
	background: #CCCCCC;
}

.titulo-centralizado{
	text-align: center;
}

.banner{
	text-align: center;
	width=100%;
}

p {
    text-align: center;
}

#missao{
    font-size: 20px;
}


em strong{
    color: rgba(52, 168, 17, 0.959);
}

.beneficios{
	padding: 20px;
	background: #FFFFFF;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
